@import url(bootstrap.css);
@import url(bootstrap-theme.css);
@import url(bootstrap-theme.css.map);
@import url(bootstrap-theme.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap.css.map);

#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 10px;
   border-width: 7px;
 }
 #map_canvas {
   width: 100%;
   height: 390px;
 }